{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %} 
    <h2>Home</h2>
    {% if user.is_authenticated %}
    <p>You are welcome on Home Page</p>
    <p>Your name is - {{user.first_name}} {{user.last_name}}</p>
    <p>Your email is - {{user.email}}</p>
    <br>
    <a href="{% url 'profile' user.id %}">Edit Profile</a>
    <br><br>
    <a href="{% url 'change_password' %}">Change Password</a>
    <br><br>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <br><br>
    <a href="{% url 'password_reset' %}">Forgot Password</a>
    <br><br>
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}